.products_overview {
	margin: 2rem auto;
	width: 80%;
}

.products_overview > h1 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.image_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.btn_container {
	display: flex;
	justify-content: center;
}

.btn_container > button {
	margin: 2rem 0;
	border: 1px solid var(--cyan-600);
	border-radius: 5px;
	color: var(--cyan-900);
	padding: 0.5rem 1.5rem;
	font-weight: 500;
	transition: transform 300ms ease;
}

.btn_container > button:hover {
	transform: scale(1.05);
}

.btn_container > button:active {
	transform: scale(0.9);
}
